<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      Worker: {{ user.username }}
    </li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}">Login</a>
      <li class="list-group-item">
        <a href="/signup/">Sign Up</a>
      </li>
    </li>
  {% endif %}

  <br>
  <li class="list-group-item">
    <a href="{% url 'manager:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'manager:task-list' %}">Tasks</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'manager:worker-list' %}">Workers</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'manager:task-type-list' %}">Task types</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'manager:position-list' %}">Positions</a>
  </li>
</ul>